<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/x-icon" href="./static/images/favicon.ico">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>chat</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title">
            <h2 class="text-center">ChatGPT-website</h2>
        </div>

        <div class="key">
          <div class="input-group col-sm-6">
            <span class="input-group-addon">
              <input type="checkbox" class="ipt-1">
            </span>
            <input type="text" class="form-control ipt-2" placeholder="使用自己的api key">
          </div>
        </div>

        <div class="answer">
          <div class="tips text-center">
            <h3 class="lead">api key 告急！打赏支持本站！</h3>
            <img src="./static/images/reward.png">
          </div>
          <div id="chatWindow"></div>
            <div class="input-group ipt">
              <div class="col-xs-12">
                <textarea id="chatInput" class="form-control" rows="1"></textarea>
              </div>
              <button id="chatBtn" class="btn btn-primary" type="button">Go !</button>
            </div>
          </div>
        </div>
      </div>

    <div class="row foot">
      <footer class="col-xs-12" style="margin-top: 10px;">
        <p class="lead text-center">“抢走工作的不会是AI,而是率先掌握AI能力的人”</p>
        <p class="lead text-center">
          <a href="https://blog.csdn.net/qq_57421630" target="_blank">@联系我</a>
          <span style="color:red;">|</span>
          <a href="https://gitee.com/aniu-666/chat-gpt-website" target="_blank">项目地址</a>
        </p>
      </footer>
    </div>
  </div>

</body>

<script src="./static/js/jquery-2.1.1.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/marked.min.js"></script>
<script src="./static/js/layer/layer.js"></script>
<script src="./static/js/custom.js"></script>
</html>